body{
    justify-content: space-around;
    color: black;
    background-image: url('BG.jpeg')
}

img{
    opacity: 1;
    width: 10000px;
    height: 100px;
}
.omg{
    opacity: 0;
    width: 10000px;
    height: 10px;
}



/* s */

/* canvas{
    margin: auto;
    display: block;
} */

