body{
    justify-content: space-around;
    color: black;
    background-image: url('BG.jpeg');
    width: 100px;
}

img{
    opacity: 1;
    width: 10000px;
    height: 100px;
}
.omg{
    opacity: 0;
    width: 100px;
    height: 10px;
}



/* s */

canvas{
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
}

